@charset "UTF-8";

@media screen and (min-width: 769px) and (max-width: 992px){
    header {
        width: 100vw;
    }

    
    .logo img { 
        width: 20vw;
    }

    .nav-bar {
        
        padding: 1rem 0rem;
    }

    .nav-link {
        
        font-size: 15px;
    }
    
    section#formulario {
        width: 320px;
        top: 3%;
        left: 53%;
    }

    #formulario::before {
        width: 336px;
    }
   
    .itens {
    padding: 0px 7px 0px 0px;
    font-size: 14px;
    }

    img#banner {
        width: 100vw;
        overflow: hidden;
        transform: translate(-18%, 3%);
    }

    img#vetor3 {
        width: 21%;
        overflow: hidden;
        transform: translate(383%, -158%);
    }

    .enviar {
        height: 25px;
        padding: 10px 0px;
    }

    .projeto {
        height: 80vh;
        transform: translatey(-80px);
    }

    .botton-registro {
        height: 46px;
    }

    .artigo {
        left: 50%;
    }

    .top-jornada {
        position: relative;
        top: 25%;
        
    }
    
    .card-jornada {  
        margin-top: 35%;
        margin-bottom: 15%;
        
    }

    .jornada {
        height: 125vh;
    }

    .card-jornada .card-blue img {
        position: relative;
        transform: translate(2px, 6px);
    }

    .vetor2 {
        padding: 60px;
    }

    .back-objetivos{
        height: 90vh;
    }

    .footer {
        height: 30vh;
    }

    footer .botao{
        position: relative;
        left: -50px;
        height: 9vh;
    }

}
