@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');


* { 
    padding: 0px;   
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: medium;
    
}   

body{

    background-color: #1A7FBD;
    color: white;
    width: 90vw;
    margin: auto;
    
    height: 10vh;
}

span#burguer {
    
    
    font-size: 35px;
    border-radius: 6px;
    margin-top: 10px;
    
    
      
}

span#burguer:hover {
    background-color: #044e7bdf;
    cursor: pointer;
}
nav > menu > ul > li > a {
    
    list-style-type: none;
    width: auto;
    opacity: 1;
    text-decoration: none;
    color: white;
}

nav ul li:hover{
    background-color: #15679adf;
    border-radius: 3px;
    font-weight: 400;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.471);
} 

header nav {
    display: flex;
    flex-direction: column;
        
}

ul li {
    align-items: center;
    flex-direction: row;
    list-style-type: none;    
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 200;
    color: #A4DCFF;
    
    
}

nav  a  img{
    margin-top: 20px;
    height: 30px;
    
}

div button { 
    
    
   
    margin-top: 10px;
    
    background-color: black;
    color: white;
    width: 150px;
    height: 43px;
    
    border-radius: 6px;
    opacity: 0px;
    cursor: pointer;
}

nav button:hover {

    background-color: rgb(175, 168, 168);
    color: rgb(8, 8, 8);
    
}


    


hr#linha {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}
