@charset "UTF-8";

@media screen and (max-width: 768px){
    
    .nav-item {
        display: none;
    }

    nav img { 
        width: 160px;
    }

    
    .seletivo-button {
        display: none;
    }

    .menu-celular-icon {
        display: block;
    }

    .menu-celular {
        display: block;
    }

    .menu-celular-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: .5rem 3rem;
        width: 10px;
        
    }

    button img {
        width: 45px;
    }

    .menu-celular {
        display: flex;
        flex-direction: column;
        text-align: center;
        /*padding-bottom: 1rem;*/
    }

    .menu-celular .nav-item {
        display: block;
        padding-bottom: 1rem;
        font-size: 1.6em;
        
    }

    .menu-celular .seletivo-button {
        display: block;
        padding: 1rem 2rem;
    }

    .menu-celular .seletivo-button button {
        width: 100%; /* não sei ainda*/
    }

    .open {
        display: none;
    }

    /* 
    
            parte do formulário 
    
    */

    main {
        position: relative;
        height: 80vh;
        width: 100vw;
        
    }

    img#banner {
        width: 100vw;
        display: flex;
        top: 50%;
        left: 50%;
        overflow: hidden;
        transform: translate(-20%);
    }

    section#formulario {
        
        position: absolute;
        top: 50%;
        left: 50%;
        overflow: hidden;
        
        background-color: white;
        width: 300px;
        height: 600px;
        border-radius: 2vh;
        

        transform: translate(-50%, -35%);
        transition-duration: .5s; 
        transition-timing-function: ease;
        
        
        
        

        
    

        
    }

    div#formulario {
        
        display: block;
        
          
        
    }   

    
        
    
    
    div#formulario > h1 {
        
        text-align: center;
        margin: 10px 10px;
        text-align: left;
    }

    div#formulario > p {
        margin: 10px 10px;
        color: #1A7FBD;
        font-size: 0.8em;
        text-align: left;
        
    }

    form > div.campo {
       
        margin: 10px 13px;
        align-items: center;
        width: 91%;
        height: 40%;
        display: block;  
        border: 1px solid   rgba(0, 0, 0, 0.500);
        
    }

    form > div.campolugar {
        margin: 10px 13px;
        width: 91%;
        height: 40%;
        display: block;    
        border: 1px solid rgba(0, 0, 0, 0.500);
        
    }

    div.campo > label {
        display: none;
    }

    form > div > input {
        background-color: white;
        border: none;
        transform: translateY(-1px);
        width: 89%;
        height: 39px;
        
        
    }
        
    form > div > input:focus-within {
        background-color: white;
    }

    form > div > span.material-symbols-outlined {
        
        color: #1A7FBD;
        
        padding-top: 3px;
        width: 25px;
        transform: translateY(4px);
       
        

    }

    select#estados {
        width: 89%;
        height: 39px;
        border: none;
        transform: translateY(-1px);
    }

    div .form-tec {
        font-size: 10vh;
        background-color: #1A7FBD;
        text-align: left;
        margin: 10px 0px;
        width: 100%;
        height: 120px;

    }

    .item1 {
        font-size: 1.4vh;
        
    }

    div .iform-tec {
        font-size: 1px;
        color: white;
        text-indent: 1px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: first baseline;
        align-items: center;
        
   }  


    div .iform-tec > h2 {
        font-size: 1.8vh;
        color: white;
        text-align: left;
        text-indent: 1px;

    }

    #question {
        
        
        
        
        color: #1A7FBD;
        
    }
    
    .option {
        
        all: unset;
        width: 1rem;
        height: 1rem;
        border: 0.1rem solid #1A7FBD;
        border-radius: 0.2rem;
        cursor: pointer;
        margin-right: 8%;
        position: relative;

    }

}


    
