@charset "UTF-8";

@media screen and (max-width: 768px){
    
    .nav-item {
        display: none;
    }

    nav img { 
        width: 160px;
    }

    
    .seletivo-button {
        display: none;
    }

    .menu-celular-icon {
        display: block;
    }

    .menu-celular {
        display: block;
    }

    .menu-celular-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: .5rem 3rem;
        width: 10px;
        
    }

    button img {
        width: 45px;
    }

    .menu-celular {
        display: flex;
        flex-direction: column;
        text-align: center;
        /*padding-bottom: 1rem;*/
    }

    .menu-celular .nav-item {
        display: block;
        padding-bottom: 1rem;
        font-size: 1.6em;
        
    }

    .menu-celular .seletivo-button {
        display: block;
        padding: 1rem 2rem;
    }

    .menu-celular .seletivo-button button {
        width: 100%; /* não sei ainda*/
    }

    .open {
        display: none;
    }

    /* 
    
            parte do formulário 
    
    */

    main {
        position: relative;
        height: 100vh;
        width: 100vw;
    }
    
    section#login {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
    
        background-color: white;
        width: 250px;
        height: 500px;
        border-radius: 15px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    }
    section#login > div#imagem{
        background: #155b87 url(../imagens/back-login.jpg);
        background-size: cover;
        background-position: center left;
        height: 200px;
    }
    
    section#login > div#formulario {
        display: block;
        padding: 10px;
    }
}