@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: medium;
    text-decoration: none;
    list-style: none;
}

* h1 {
    font-size: 3.5vh;
}

body {
    

}

header {
    
    
    background-color: #1A7FBD;
    box-shadow: 0px 3px 10px #0a324b70; 
    /* decidir depois com box ou sem box */
    
}    

.nav-bar {
    display: flex;
    justify-content: space-around;
    padding: 1.0rem 2rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img { 
    width: 190px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.nav-item {
    margin:0 2.1vw;
}

.nav-link {
    text-decoration: none;
    font-size: 1.4em;
    color: white;
    font-weight: 300;
    
}

.seletivo-button button {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.277);
    background-color: rgb(56, 56, 56);
    padding: 7px 7px;
    border-radius: 5px;
}

.seletivo-button button a {
    background-color: rgb(56, 56, 56);
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 1rem;
}

.menu-celular-icon {
    display: none;
}

.menu-celular {
    display: none;
}

hr#linha {
    display: flex;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0));
}


main {
    
    background-color: #1A7FBD;
    position: relative;
    
    height: 100%;
    
    
}

img#banner {
    width: 84vw;
    overflow: hidden;
    transform: translate(-19%, 5%);
}

img#vetor3 {
    width: 14%;
    overflow: hidden;
    transform: translate(-58%, -119%);

}




section#formulario {
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.452);
    position: absolute;
    top: 5%;
    left: 51%;
    overflow: hidden;
    
    background-color: white;
    width: 400px;
    height: 600px;
    border-radius: 2vh;
    

    
    transition-duration: .5s; 
    transition-timing-function: ease;
}

div#formulario {
    
    display: block;
}

div#formulario > h1 {
    color: rgba(0, 0, 0, 0.500);
    text-align: center;
    margin: 10px 12px;
    text-align: left;
}

div#formulario > p {
    margin: 10px 12px;
    color: #1A7FBD;
    font-size: 0.8em;
    text-align: left;
    
}

form > div.campo {
   
    margin: 13px 13px;
    align-items: center;
    width: 93%;
    height: 40%;
    display: block;  
    border: 1px solid   rgba(0, 0, 0, 0.500);
    
}

form > div.campolugar {
    margin: 13px 13px;
    width: 93%;
    height: 40%;
    display: block;    
    border: 1px solid rgba(0, 0, 0, 0.500);
    
}

div.campo > label {
    display: none;
}

form > div > input {
    background-color: white;
    border: none;
    transform: translateY(-1px);
    width: 89%;
    height: 39px;
    
    
}
    
form > div > input:focus-within {
    background-color: white;
}

form > div > span.material-symbols-outlined {
    
    color: #1A7FBD;
    
    padding-top: 3px;
    width: 25px;
    transform: translateY(4px);
   
    

}

select#estados {
    width: 89%;
    height: 39px;
    border: none;
    transform: translateY(-1px);
}

div .form-tec {
    width: 100%;
    display: block;
    background-color: #1A7FBD;
    
    height: 100px;     
    
}

.itens {
    
    background-color: #1A7FBD;
    color: white;
    padding: 0px 0px 0px 36px;
    width: 100%;
    
    font-size: 12px;        
    
}


div .iform-tec > h2 {
    font-size: 1.8vh;
    color: white;
    padding-bottom: 10px;
    text-align: left;
    text-indent: 12px;

}

#question {
    display: block;
    
    padding: 10px 10px;
    color: #1A7FBD;
    display: flex;
    flex-direction: row;
}

.option {
    
    all: unset;
    width: 1rem;
    height: 1rem;
    border: 0.1rem solid #1A7FBD;
    border-radius: 0.2rem;
    cursor: pointer;
    margin-right: 8%;
    
}

.experiencia-profissional {
    display: block;
    height: 100px;
    align-items: center;
    
    
    
}

.experiencia-profissional h2 {
    text-indent: 5px;
    font-size: 1.8vh;
    color: #1A7FBD;
    padding: 10px 10px;
}

div .simounao {
    display: inline;      
}

label #sim, #nao{
    
    all: unset;
    width: 1rem;
    height: 1rem;
    border: 0.1rem solid #1A7FBD;
    border-radius: 0.2rem;
    cursor: pointer;
    margin-left: 15px;
    transform: translateY(4px);
    
}

div .hr-form {
    
    padding: 20px 20px;
}

div .hr-form p {
    font-size: 1.5vh;
    text-align: center;
    color: #1A7FBD;
}



.enviar {

    height: 30px;
    padding: 15px 20px;
   
}

#form-button {
    
    display: block;
    margin: auto;
    border: none;
    border-radius: 8px;
    background-color: #1A7FBD;
    color: white;
    height: 35px;
    width: 310px;
    cursor: pointer;
}

.term {
    font-size: 0vh;
    text-align: center;        
    padding: 20px 20px;
}

.term p, a {
    font-size: 1.1vh;
    text-align: center;        
    
}

section #formulario {
    display: block;
}

img#dev {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: radial-gradient(50% 50% at 50% 50%, #54B1EA 0%, rgba(84, 177, 234, 0) 100%);
    width: 40%;
    overflow: hidden;
    transform: translate(0%);   
}

img#frame {
    width: 40%;
    overflow: hidden;
    transform: translate(-0%);   
}



.projeto {
    
    height: 100vh;
    display: flex;
    text-align: left;
    background-color: #1A7FBD;
    flex-direction: row;
    justify-content: space-around;
    
    flex-wrap: nowrap;
    padding: 0px 70px;
    align-content: stretch;
    align-items: center;
    transform: translatey(-70px);
}

.dentro-projeto {
    width: 50%;
    position: relative;
    left: 40px;
    color: white;
}

    



.projeto h1 {
    padding: 10px 0px;
    color: #A4DCFF;
    font-size: 3.5vh;
    
}

.space {
    
    font-size: 2.5vh;
}

.space strong {

    font-size: 2.5vh;
}

.backproblema{
    background-image: url(../imagens/Container2.png);
    background-repeat: no-repeat;
    
    background-position: left;
    background-color: white; 
    background-attachment: fixed; 
    background-size: contain;  

}

.problema {
    margin: auto;
    
    background-repeat: no-repeat;
    width:90%;
    height: 100%;
    
}


.artigo {
    
    text-align: left;
    left: 47%;
    position: relative;
    
    display: flex;
    flex-direction: column;
    width: 50%;
}

.problema h1 {
    padding-top: 30px;
    text-align: left;
    background: linear-gradient(to right, #1A7FBD, #A4DCFF);
    font-size: 3.5vh;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    min-height: 10%;
    width: 170px;
}

.problema h2 {
    padding-bottom: 40px;
    padding-top: 20px;
    text-align: left;
    font-size: 1.5vh;
}

.linha {
    
}
.problema p {

    padding-top: 40px;
    text-align: left;
    font-size: 1.5vh;

    
}

#problema {
    padding-top: 40px;
    font-size: 2vh;

}


.cartao {   
    
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-top: 50px;  

}

.cartao  h2 {
    padding: 20px 0px;
    text-align: center;
    font-size: 4vh;
}

.cartao div {
    
    
    
    
    text-align: center;
    background-color: #FFF;
    align-items: center;
    width: 75%;
    cursor: pointer;
    
    min-height: 25vh;
    border-radius: 2vh;
    box-shadow: 0vh 2vh 4vh -2vh #000;
    margin: 4%;
    

}

.cartao p {
    padding: 10px;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    font-size: 2vh;

}

.cartao  h2:hover {
    font-size: 200%;




}.cartao p:hover {
    font-size: 100%;
}

.cartao div:hover {
    box-shadow: 0vh 0.1vh 2vh 0.2vh #000;
}

.jornada {
    height: 100vh;
    background-color: white;
    
}

.top-jornada {
    position: relative;
    top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.invertido {
    height: 10%;
    width: 50%;
    transform: scaleX(-1);
}

.seminverter {
    height: 10%;
    width: 50%;
}

.top-jornada h1 {
    background: linear-gradient(to right, #1A7FBD, #A4DCFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    min-width: 15%;
    text-align: center;
}


.card-jornada {
    display: flex;
    margin-top: 8%;
    margin-bottom: 8%;
    justify-content: center;
}
.card-jornada .card-blue {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1A7FBD;
    border-radius: 0.5rem;
    box-shadow: 0vh 1vh 2vh -1vh #000;
    width: 25vw;
    height: 50%;
    margin: 1vh;
    margin-bottom: 5%;
}
.card-jornada .card-blue div {
    
    background-color: #FFF;
    margin: 3%;
    padding: 2%;
    height: 50%;
    width: 13%;
    border-radius: 1vh;
}
.card-jornada .card-blue img {
    transform: translate(7px, 7px);
    max-height: 70%;
    max-width: 70%;
}
.card-jornada .card-blue p {
    color: #FFF;
}
.card-jornada .card-blue:hover {
    height: 51%;
    box-shadow: 0vh 0.1vh 1vh 0.2vh #000;
}
.card-jornada .card-blue:hover p {
    font-weight: 800;
}


  
.botton-registro {
    display: flex;
    margin: auto;
    padding: 10px;
    border-radius: 1vh;
    border-style: none;
    background-color: black;
    font-weight: 700;
    transition: all 900ms linear 0s;
    font-size: 1.8vh;
    width: 47vw;
    height: 30px;
}

.botton-registro a {
    font-size: 2vw;
    text-decoration: none;
    color: white;
    padding-bottom: 50px;
    

}

.botton-registro:hover {
    background-color: #7dccfe;
    color: black;
    opacity: 0.9;
}
.botton-registro:hover a {
    text-decoration: none;
    color: black;
}

.enter {
    display: flex;
    flex-direction: row;
    position: relative;
    padding-left: 10px;
    align-items: center;


}
.vetor2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.back-objetivos {
    height: 100vh;
    background-color: #1A7FBD ;
}

.Objetivos h1 {
    font-size:4vh;
    color: white;
    padding: 40px;
    text-align: center;
      
}


    
    



.cartao-objetivos div{
    
    padding: 0px;
    
    
}

footer {
    
    color: white;
    background-color: #000;
    width: 100%;
}

.footer {
    height: 25vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    
}

footer p {
    color: #FFF;
    font-weight: 200;
}
footer a {
    color: white;
    font-size: medium;
    text-decoration: none;
}
footer a:hover {
    color: #1A7FBD;
    font-size: larger;
    font-weight: 800;
    transition-duration: .5s; 
    transition-timing-function: ease;
}
footer span {
    width: 0.1rem;
    height: 10vh;
    background-color: #FFF;
    opacity: 0.8;
}
footer .redesocial .logo-slogan {
    width: 80%;
    height: 80%;
}
footer .redesocial .logo-slogan:hover {
    width: 82%;
}
footer .redesocial ul {
    display: flex;
    flex-direction: row;
    width: 20vw;
}
  footer .redesocial ul li {
    padding: 0.5rem;
    width: 2rem;
    height: 2rem;
}
footer .redesocialul li a img {
    width: 1rem;
    height: 1rem;
}
footer .redesocial p {
    font-size: 0.5rem;
}
footer .botao {
    border-radius: 1vh;
    margin-top: 0;
    background-color: #FFF;
    width: 12vw;
    height: 5vh;
    box-shadow: none;
    text-align: center;
}
footer .botao a {
    position: relative;
    top: 5px;
    color: black;
    font-size: larger;
}
footer .botao a:hover {
    color: #FFF;
}
footer .botao:hover {
    background-color: #000;
    border: 0.1rem solid #FFF;
}

.redesocial {
    
    display: flex;
    flex-direction: row;
}


footer div ul li {
    
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 5%;
}

footer .contato p {
    margin-top: 10%;
  }

  img.logo-slogan:hover {
    
    width: 55%;

  }

  #imgredes:hover {
    width: 90%;
    
}