@charset "UTF-8";

@media screen and (min-width: 769px) and (max-width: 992px){
    
    section#formulario {
        width: 320px;
        top: 3%;
        left: 53%;
    }

    #formulario::before {
        width: 336px;
    }
   
    .itens {
    padding: 0px 7px 0px 0px;
    font-size: 14px;
    }

    img#banner {
        width: 100vw;
        overflow: hidden;
        transform: translate(-18%, 3%);
    }

    img#vetor3 {
        width: 21%;
        overflow: hidden;
        transform: translate(383%, -158%);
    }

    .enviar {
        height: 25px;
        padding: 10px 0px;
    }

    .projeto {
        height: 80vh;
        transform: translatey(-135px);
    }

    .botton-registro {
        height: 46px;
    }

    .artigo {
        left: 50%;
    }
    
    .card-jornada {    
        margin-bottom: 15%;
        
    }
    .vetor2 {
        padding: 60px;
    }

    footer .botao{
        height: 9vh;
    }
}